* {
  margin: 0;
}
@font-face {
  font-family: 'FuturaHand';
  font-style: normal;
  font-weight: normal;
  src: local('FuturaHand'), url('../public/static/fonts/FuturaHand.ttf') format('ttf');
}
@font-face {
  font-family: 'Outline';

  src: local('Outline'), url('../public/static/fonts/Outline.ttf') format('ttf');
}
.app{
  background-color:#fafafa;

}
.app__header{
  object-fit: contain; 
  background-color: #323232;
  border-bottom: 1px #282828;

}
/* .app__headerImage{
  object-fit: contain; 
  padding: 0px 0px 0px 0px; 
}
.app__headerLogo{
  font-family: 'Outline';
  color:  linear-gradient(145deg,#ec9f05,#f53803 ,#ff4e00,rgb(255, 72, 0));  
} */
