*{
	margin:0;
}
@font-face {
	font-family: 'FuturaHand';
	font-style: normal;
	font-weight: normal;
	src: local('FuturaHand'), url('../public/static/fonts/FuturaHand.ttf') format('ttf');
}
.post{  
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 30px;
}
.post__header{
	display: flex;
	align-items: center;
	padding: 10px;
}
.post__avatar{
	margin: 0px 10px 0px 0px;
}
.post__image{
	width: 100%;
	object-fit: content;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.post__text{
	font-family: sans-serif;
	font-weight: normal;
	padding: 10px;
}